{% extends "administrador/baseadministrador.html" %}
{% block administrador %}
<div class="container">
    <h1>{% if editando %}Editar Medicamento{% else %}Registrar Nuevo Medicamento{% endif %}</h1>
    <form method="POST" class="form-registro-medicamento">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-registro">{% if editando %}Actualizar Medicamento{% else %}Registrar Medicamento{% endif %}</button>
    </form>
    
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <h2>Medicamentos Registrados</h2>
    <table class="table-medicamentos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Dosis Recomendada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for medicamento in medicamentos %}
                <tr>
                    <td>{{ medicamento.nombre }}</td>
                    <td>{{ medicamento.descripcion }}</td>
                    <td>{{ medicamento.dosis_recomendada }}</td>
                    <td>
                        <button class="link-editarmedicamento"><a href="{% url 'editar_medicamento' medicamento.id %}" >Editare</a></button>
                        <form action="{% url 'eliminar_medicamento' medicamento.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="link-eliminarmedicamento" onclick="return confirm('¿Estás seguro de que deseas eliminar este medicamento?');">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
