{% extends "base1.html"%}
{% block  principal2%}  

<section class="contenedor-pPrincipal">
    <main class="container">
        <figure>
            <a href="/iniciarSesion/">
                <img src="/static/img/inicioadministrador.png" alt="Administrador">
                <figcaption>Administrador</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/iniciarSesion/">
                <img src="/static/img/iniciodoctores.png" alt="Médico">
                <figcaption>Médico</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/iniciarSesion/">
                <img src="/static/img/iniciopaciente.png" alt="Paciente">
                <figcaption>Paciente</figcaption>
            </a>
        </figure>
        
    </main>

</section>


{% endblock %}